.body {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.bodyMenu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.order {
  font-size: 30px;
  color: #003fc2;
  margin-bottom: 20px;
  border: 7px solid rgba(232, 73, 4, 0.78);
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.56);
}