$white: #ffffff;
$grayBG: #323332;
$grayBtn: #706868;
$black: #0a0202;
$green: #0d4d01;
$gold: #af082e;
$damageCard: #e31515;
$blackTrans: rgba(10, 2, 2, 0.39);
$bgStats: rgb(145, 144, 144);
$boxShadowCard: -5px 9px 8px 0px rgba(34, 60, 80, 0.2);
